/** @format */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
/* header bg set */
.header {
  background-color: white;
  background-image: url("../images/header_bg.png"), url(../images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, left;
}

/* nav styles */
nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 200px;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  list-style: none;
  margin-left: 50px;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
}
/* primary classes */
.btn-primary {
  width: 150px;
  height: 64px;
  background-color: #fd6e0a;
  border: 0;
  margin-left: 30px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.text-primary {
  color: #fd6e0a;
}

/* banner styles */

.banner {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-left: 200px;
}

.banner-subtitle {
  color: #474747;
  font-weight: 600;
  font-size: 45px;
  line-height: 61px;
}

.banner-title {
  color: #181818;
  font-style: normal;
  font-weight: 700;
  font-size: 85px;
}

.banner-description {
  color: #757575;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
}

/* main section */
main {
  max-width: 1140px;
  margin: 0 auto;
}

/* about section */
.about {
  margin-top: 130px;
  background: #fff8f3;
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
}

.section-title {
  color: #181818;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  margin-bottom: 30px;
}

.section-description {
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
}
/* address make with table */
table,
th,
td {
  margin-left: 20%;
}
th {
  color: gray;
  font-size: 14px;
  font-weight: 200;
  text-align: center;
}
td {
  color: #474747;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  padding: 10px;
  text-align: center;
}

/* experieence section */
.experience {
  text-align: left;
  margin-top: 130px;
}

.experience h1 {
  margin-bottom: 30px;
  font-size: 35px;
  text-align: center;
}

.experience-description {
  margin-bottom: 50px;
  font-size: 18px;
  text-align: center;
}

/* skill section */
.skills-container {
  display: flex;
  gap: 24px;
}

.skill {
  width: 267px;
  height: 377px;
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 30px;
}

.skill-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #181818;
  line-height: 28px;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 20px;
}

.skill-description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #757575;
}
